body {
    font-family: "Lucida Console", "Courier New", monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header {
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
