body {
    font-family: "Courier New", monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: red;
    color: #fff;
    text-align: center;
}
header {
    text-align: center;
    color: #000;
}
